 



body {

   background-image: url('../images/NH_Personal_Injury_01.jpg');

   background-repeat: repeat-x;

   font-family: Verdana, Helvetica, sans-serif;

   color: #000000;

   font-size: 11px; background-position-y:50%

 }

a:focus{outline:0px;}



h1 {

   color: #660000;

   font-size: 18px;

   line-height: 18px;

   font-family: Geneva, Arial, Helvetica, sans-serif;

}



h2 {

   color: #000;

   font-size: 15px;

   line-height: 15px;

   font-family: Geneva, Arial, Helvetica, sans-serif;

}



h3 {

   color: #0033CC;

   font-size: 15px;

   line-height: 15px;

   font-family: Geneva, Arial, Helvetica, sans-serif;

}



h4 {

   color: #ffffff;

   font-size: 12px;

   line-height: 15px;

   font-family: Geneva, Arial, Helvetica, sans-serif;

}



h4 a {

   color: #d6cfa3;

   font-size: 12px;

   line-height: 15px;

   font-family: Geneva, Arial, Helvetica, sans-serif;

}



h4 a:hover {

   color: #d6cfa3;

   font-size: 12px;

   line-height: 15px;

   font-family: Geneva, Arial, Helvetica, sans-serif;

   text-decoration: underline;

}



h6 {

   color: #ffffff;

   font-size: 16px;

   line-height: 15px;

   font-family: Geneva, Arial, Helvetica, sans-serif;

}





.header {

   color: #000000;

   font-size: 15px;

   line-height: 15px;

   font-family: Geneva, Arial, Helvetica, sans-serif;

}
.header strong{
   color: #333333;

   font-size:20px;

   line-height: 19px;

   font-family: Geneva, Arial, Helvetica, sans-serif;
   }

.header b{

   color: #333333;

   font-size:18px;

   line-height: 19px;

   font-family: Geneva, Arial, Helvetica, sans-serif;

}

ul.iflylist {

   border-top: solid 1px #ffffff;

   line-height: normal;

}



li.ifly {

   font-family: Arial, Verdana;

   font-size: 11px;

   margin: 0px;

   padding-right: 10px;

   padding-left: 10px;

   background-color: #003366;

   border-left: solid 1px #ffffff;

   border-right: solid 1px #ffffff;

   border-bottom: solid 1px #ffffff;

}



li.iflyOver {

   background-color: #a8c1e0;

}



a.ifly {

   color: #ffffff;

}



a.ifly:hover {

   color: #ffffff;

}



a.iflyOver {

   color: #ffffff;

}



table.c_mb {

   margin: 0px 0px 0px 0px;

   width: 100%;

}



.c_mb td {

   vertical-align: middle;

   font-family: Arial, Helvetica, sans-serif;

   height: 25px;

}



.c_mb a {

   text-decoration: none;

   font-size: 16px;

}



.c_mb a:hover {

   font-size: 16px;

}



td.c_mh {

   color: #594338;

   padding: 2px 2px 2px 10px;

   height: 30px;

   font-size: 16px;

}



td.c_mh a {

   color: #594338;

   font-size: 16px;

}



td.c_mh a:hover {

   color: #594338;

   font-size: 16px;

   text-decoration: underline;

}



td.c_mi0 {

   padding: 0px 0px 0px 15px;

}



td.c_mi0 a {

   color: #ffffff;

}



td.c_mi0 a:hover {

   text-decoration: underline;

   color: #ffffff;

}



td.c_mi0s {

   

}



td.c_mi0s a {

   text-decoration: underline;

   color: #ffffff;

}



td.c_mi1 {

   padding: 0px 0px 0px 20px;

}



td.c_mi1 a {

   color: #ffffff;

}



td.c_mi1 a:hover {

   text-decoration: underline;

   color: #ffffff;

}



td.c_mi1s {

   

}



td.c_mi1s a {

   text-decoration: underline;

   color: #ffffff;

}



td.c_mi2 {

   padding: 0px 0px 0px 25px;

}



td.c_mi2 a {

   color: #ffffff;

}



td.c_mi2 a:hover {

   text-decoration: underline;

   color: #ffffff;

}



td.c_mi2s {

   

}



td.c_mi2s a {

   text-decoration: underline;

   color: #ffffff;

}



td.c_mi3 {

   padding: 0px 0px 0px 30px;

}



td.c_mi3 a {

   color: #ffffff;

}



td.c_mi3 a:hover {

   text-decoration: underline;

   color: #ffffff;

}



td.c_mi3s {

   

}



td.c_mi3s a {

   text-decoration: underline;

   color: #ffffff;

}



.iticker {

   font-size: ;

   font-family: ;

   color: #

}



a {

   font-family: Verdana, Helvetica, sans-serif;

   color: #194276;

   text-decoration: none;

}



a:hover {

   font-family: Verdana, Helvetica, sans-serif;

   color: #b7af83;

   text-decoration: underline;

}



b {

   color: #000000;

}



.white {

   color: #ffffff;

   line-height: 20px;

   font-size: 12px;

}



.white a {

   color: #ffffff;

   line-height: 20px;

   font-size: 12px;

}



.white a:hover {

   color: #ffffff;

   line-height: 20px;

   font-size: 12px;

   text-decoration: underline;

}



img {

   border: none;

}



img {

   vertical-align: bottom;

}



.lico {

   font-family: Verdana, Helvetica, Sans-Serif;

   background: #ffffff;

   font-size: 10px;

   border: #2a3c59 1px solid;

   color: #315595;

   padding-bottom: 1px;

   padding-left: 5px;

   padding-right: 1px;

   padding-top: 1px;

   width: 180px;

   height: 14px;

   margin-bottom: 2px;

}



.lico2 {

   display: block;

   border: none;

}



.maintable {

   margin-left: auto;

   margin-right: auto;

}



.smaller {

   color: #ffffff;

   font-size: 10px;

   line-height: 20px;

}



.text {

   padding-left: 20px;

   padding-right: 20px;

   color: #0d1c38;

   line-height: 18px;

   text-align: left;

}



div.ifly {

   font-family: Arial, Verdana;

   font-size: 11px;

   margin: 0px;

   padding-right: 10px;

   padding-left: 10px;

   background-color: #000000;

   border-left: solid 1px #ffffff;

   border-right: solid 1px #ffffff;

   border-bottom: solid 1px #ffffff;

}



div.iflyOver {

   background-color: #dddddd;

}



div.ifly a {

   color: #ffffff;

}



div.ifly a:hover {

   color: #003300;

}



div a.iflyOver {

   color: #ffffff;

}







.text_02{font:14px Arial, Helvetica, sans-serif; color:#000;}
.text_02 li{color:#000000;
font-family:Geneva,Arial,Helvetica,sans-serif;
font-size:15px; padding:0 0 10px 0;list-style:none outside none;}
.text_02 ol{ font-weight:bold; }
.text_03{font:18px bold Arial, Helvetica, sans-serif; color:#000;}

.text_04{font:18px Arial, Helvetica, sans-serif; color:#333;}

.text_02 ul, li{margin:0px; padding:0px;}
.text_02 li{background:url('../images/bulit_black.png') no-repeat 0 11px; list-style-type:none; padding-left:20px; padding-right:0; padding-top:8px; padding-bottom:0}
.text_02 li a{color:#000; text-decoration:none;}
.text_02 li a:hover{color:#000; text-decoration:underline;}



.text_01{ font-family:Arial, Helvetica, sans-serif; font-size:11px; text-decoration:none; color:#fff;}



.text_01 span{ font-family:Arial, Helvetica, sans-serif; font-size:11px; text-decoration:none; color:#6699ff;}

.text_01 span a{  text-decoration:none; color:#6699ff;}

.text_01 span a:hover{ text-decoration:none; color:#6699ff;}



.left-td { background:url('../images/NH_Personal_Injury_17.jpg') no-repeat left top; width:208px; height:35px; color:#FFFFFF; text-transform:uppercase; padding-left:40px; padding-right:0; padding-top:0px; padding-bottom:0 }
.left-td a{color:#ffffff; text-decoration:none;}
.left-td a:hover{color:#ffffff; text-decoration:underline;}
.left-td.sel a{color:#ff9900; text-decoration:none;}



.SmallContactInput { font-family: Verdana, Helvetica, Sans-Serif;

   font-size: 10px;

   width: 154px;

   height: 14px;

   border: #102346 1px solid;

   background: #fff;

   color: #102346;

   padding: 1px 1px 1px 5px;

   margin-bottom: 2px; } 

.SmallContactMargin { margin: 0px 0px 0px 15px; } 

.SmallContactTextArea { font-family: Verdana, Helvetica, Sans-Serif;

   font-size: 10px;

   width: 154px;

   height: 35px;

   border: #102346 1px solid;

   background: #fff;

   color: #102346;

   padding: 1px 1px 1px 5px; } 

.tdinput {  } 

.textarea {  } 



.footer { color:#CCCCCC; font-size:11px;}

.footer span{ color:#CCCCCC; font-size:10px; padding:10px 0 0 0; }

.footer a{ color:#FFF; font-size:12px;}

.footer a:hover{ color: #3366CC; }



/*---------------------------- html popup - 3 ------------------*/

.popuph {

	background-color: #cccccc;

	border: 1px solid #333333;

	text-align: right;

	position: relative;

	height: 15px;

	width: 100%;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: bold;

	color: #333333;

	overflow: visible;

}

.popupc {

	background-color: #ffffff;

	border-right: 1px solid #333333;

	border-left: 1px solid #333333;

	border-bottom: 1px solid #333333;

	width: 100%;

	padding: 0px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight: bold;

	overflow: visible;

}

.popupf {

	width: 100%;

	padding: 0px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight: bold;

	height: 40px;

	overflow: visible;

}

.popup_bg {

	background-color: #f4f4f4;

	padding: 6px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: bold;

	color: #333333;

}

.popup_body {

	background-color: #ffffff;

	margin: 0px;

	padding: 2px 4px 2px 0px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	color:#666666;

	font-weight: normal;

}

.popup_caption {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	padding: 2px;

	color:#666666;

	font-weight: normal;

}



.white_text{font:16px Trebuchet Ms; color:#f2f2f2; line-height:17px;}



.submit_bt_bg{background:url('../images/bt-bg.jpg') no-repeat bottom right;}



.left_form input, select, textarea{font:11px tahoma; color:#333; border:1px solid #000000; padding:1px;}

.submit_button_bg{
background: url('../images/submit_bt.jpg') no-repeat right bottom;}


.box{line-height: 30px; font-size: 22px;background:#FFFFFF;color:#660000;width:186px;border:2px solid DarkGray;}