/* CSS Document */


body{margin:0px; padding:0px; background:#e7edef;}
img{border:0px;}
a:focus{outline:none;}


.text_10{ font-family:Arial,Helvetica,sans-serif; font-size:15px; color:#000; line-height:22px; text-decoration:none; text-align:justify;}



.wel_text{font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:20px; color:#333333; font-weight:bold}
