a { text-decoration: none;  color: #06f; }
a:hover { color: #f00; }
a img   { border: 0; }

body{
  margin:0;
  padding: 0;
  font-family: helvetica, verdana, sans-serif;
  font-size: medium;
  color: #333;
  background-color: #ECE5B6;
  
}
/* adjustment for IE5 */
body {
  font-size: small; /* IE5 Win */
  voice-family: "\"}\""; 
  voice-family: inherit;
  font-size: medium;
  
}
#logo{
margin:0 auto;
width: 147;
height: 147;
border:1px solid #000;
float:left;
}

#mics{
margin-left: 5em;
list-style: disc;
}

#Content{
  width: 720px;
  margin: 0 auto;
  padding: 2em 1em 0 1em;
  background-color: #fff;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

#Footer{
  text-align: center;
  color: #999;
  font-size: 80%;
  margin: 5em 0 0 0;
  padding: 0 0 0.1em 0;
}

h1{
  font-size: 250%;
  font-weight: normal;
  font-family: Lucida Calligraphy, helvetica, verdana, sans-serif;
  margin: 0 0 1em 0;
  padding: 0;
  text-align: center;
}

h2{
  font-size: 150%;
  font-weight:normal;
  margin: 0 0 0.5em 0;
  padding:0;
}

p{
  line-height: 1.5em;
}

#Picture {
  float:right; 
  margin-left: 5px; 
  width: 311px;
  border: 3px solid #000;
}
#Picture img{
  padding: 0 0px 0px 0;
}

ul{
  margin: 0 0 2em 0;
  padding: 0;
  list-style: none;
}

ul li{
  margin-bottom: 0.5em;
}